.title h1{
	font-family: 'Bitter', serif;
	font-style: normal;
	font-size: 40px;
	color: #fcfffc;
	margin-bottom: 50px;
}
.list_menu a{
	font-family: 'Cormorant Upright', serif;
	font-style: italic;
	font-size: 25px;
	color: #fcfffc;
	border-left: 2px solid #F5B7C7;
	transition: 0.2s ease;
	padding-left: 5px;
}
.list_menu a:hover{
	border-left: 2px solid #F5B7C7;
	transition: 0.2s ease;
	padding-left: 10px;
}
.list_menu li{
	margin: 20px 0;
}
.list_menu{
	margin-bottom: 50px;
}
.menu{
	padding: 10vh 50px;
	background: rgba(20, 20, 20, 0.5);
	height: 100vh;
	border-right: 7px solid #fcfffc;
	position: fixed;
	left: -346px;
	transition: 0.4s ease;
}
.menu:hover{
	left: 0;
	transition: 0.5s ease;
}
.content{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.footer_menu p{
	font-family: 'Cormorant Upright', serif;
	font-size: 15px;
	color: #fcfffc;
	opacity: 0.7;
}