body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;  
}

.header-style{
    height: 300px;
    padding: 80px 0px;

}


.header{
    margin: 0 15em;
    display:block;
    height: 300px;
    padding: 0px 10em;
    text-align: center;
    color: black;
    border-color: black;
}

.header h1 {
    font-family: 'Bitter', serif;
    font-size: 48px;
}

.header h3{
    font-family: 'Bitter', serif;
    font-size: 32px;
}

.content-style{
    
    height: 320px;
    padding: 40px 0px;
}

.content{
    background-color: #09696e69;
    color: #4e8ed8;
    display: block;
    margin: 0px 40px;
    padding: 0px 80px;
    height: 360px;
    overflow: hidden;
}

.content p{
    font-family: 'Cormorant Upright', serif;
    font-style: italic;
    font-size: 24px;
    width: 33%;
    display: inline-block;
    vertical-align: text-top;
}

nav{
    border: groove;
    font-size: 24px;
}

.fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fcfffc;
    margin: 2px 5px;
    border: solid;
    border-color: #fcfffc;
    width: 35px;
    height: 35px;
}

.fa-solid:hover{
    color: #000;
    border-color: #000;
}