:root{
    /* CSS HEX */
    --moonstone: rgb(0, 0, 0);
    --white: #ffffffff;
    --paynes-gray: rgb(30, 60, 71);
    --antiflash-white: #eeeeeeff;
    --atomic-tangerine: #e39774ff;
    --timberwolf: #d6d2d2ff;
    --pale-purple: #f1e4f3ff;
    --orchid-pink: #f4bbd3ff;
    --persian-pink: #f686bdff;
    --cyclamen: #fe5d9fff;
    --font-family: 'Cormorant Upright', serif;
    --font-family: 'Playfair Display', serif;
}

.backimage{
    background-color: var(--cyclamen);
    height: 100vh;
    background-color: #61C0BF;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        'haeder haeder'
        'navbar navbar'
        'content sidebar'
        'footer footer';
    grid-template-columns: 2fr 200px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.item{
    padding: 10px;
    background-color: rgba(165, 165, 165, 0.1);
    border: 1px solid black;
    color: aliceblue;
}

.haeder{
    grid-area: header;
}

.navbar{
    grid-area: navbar;
}

.content{
    grid-area: content;
}

.sidebar{
    grid-area: sidebar;
}

.footer{
    grid-area: footer;
}

li, a, button{
    font-family: var(--font-family);
    text-decoration: none;
    font-weight: 600px;
    color: var(--pale-purple);
}

* {
    background-color: var(--paynes-gray);
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 30px 10%;
    position: relative;
}

.logo {
    cursor: pointer;
    margin-right:auto;
}

.nav__list {
    list-style: none;
}

.nav__list li {
    display: inline-block;
    padding: 0 15px;

}

.nav__list li a {
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease 0;
    color: var(--moonstone);
}

.nav__list li a:hover{
    transition: all 0.3s ease 0;
    color: #0088a9;
}


button {
    margin-left: 30px;
    cursor: pointer;
    background-color: #004565;
    color: var(--moonstone);
    background-color: rgba(0, 136, 169, 1);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0;
}

button:hover {
    transition: all 0.3s ease 0;
    background-color: rgba(0, 136, 169, 0.8);
}

