.absolutize {
  background-color: #fff5f8;
  position: absolute;
  overflow-x: hidden;
  max-width: 1440px;
}

@font-face {
  font-family: "Gill Sans MT";
  src: url(../fonts/gill/gillsansmt.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
  --primary-primary-600: #5a6d57;
  --pink-color: #d0a5ea;
  --primary-color: #748c70;
  --sky-blue-color: #7dc3eb;
  --black-color: #0c0c0c;
  --light-green-color: #909225;
  --blue-color: #19418e;
  --neutral-gray-color: #404040;
  --white-color: #fff;
  --orange-color: #ca6d29;
}

.head__bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.nav__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 648px;
  gap: 24px;
}

.nav__bar a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
  color: var(--neutral-gray-404040);
}

.head--top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #748c70;
  text-align: center;
}

.head--text {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #fff;
}

.icons__bar {
  display: flex;
  width: 184px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.backgroundimg {
  background: url("../img/home-page.png"), lightgray 50%;
  background-position: center;
  width: 1440px;
  height: 600px;
}

.hero {
  display: flex;
  padding: 300px 1037px 103px 108px;
  flex-direction: column;
  gap: 27px;
  flex-shrink: 0;
}

.hero--text {
  display: flex;
  width: 295px;
  height: 130px;
  flex-direction: column;
  flex-wrap: no-wrap;
  flex-shrink: 0;
  color: var(--Black, #0c0c0c);
  font-family: Gill Sans MT;
  font-size: 34px;
  font-style: italic;
  font-weight: 400px;
  line-height: 180%; /* 61.2px */
  text-transform: capitalize;
}

.hero--btn {
  display: flex;
  width: 184px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}
.hero--btn a {
  text-decoration: none;
  color: #0c0c0c;
}

.b-sell {
  display: flex;
  width: 1224px;
  padding-bottom: 6px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  margin-top: 99px;
  margin-left: 108px;
}

.cart {
  display: flex;
  flex-direction: column;
  width: 392px;
  height: 540px;
  flex-shrink: 0;
}

.cart--info {
  display: flex;
  width: 392px;
  height: 102px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.cart--info-propertie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.meaning {
  align-self: stretch;
  /* H6 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
  color: #0c0c0c;
}

.description {
  align-self: stretch;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
  text-transform: capitalize;
  color: #0c0c0c;
}

.price {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
  padding-right: 8px;
}

.cart--info--colors {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.box {
  width: 24px;
  height: 24px;
  border-radius: 24px;
}

.box--black {
  background-color: #0c0c0c;
}

.box--sky-blue {
  background-color: #7dc3eb;
}

.box--primary {
  background-color: #748c70;
}

.box__light-green {
  background-color: #909225;
}

.box__orange {
  background-color: var(--orange-color);
}

.box__blue {
  background-color: #19418e;
}

.box__pink {
  background: #d0a5ea;
}

.collection {
  display: flex;
  margin-left: 108px;
  margin-top: 94px;
  width: 1224px;
  height: 1419px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.collection__right {
  display: flex;
  width: 600px;
  height: 1419px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 144px;
  flex-shrink: 0;
}

.collection__left {
  display: flex;
  width: 600px;
  height: 1419px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  flex-shrink: 0;
}

.coll__btn {
  display: flex;
  width: 185px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #0c0c0c;
  background-color: var(--white-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.coll__left--pic2 {
  display: flex;
  height: 518px;
  padding: 462px 16px 16px 399px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background-image: url("../img/coll-left2.png");
  border: none;
}

.coll__left--pic1 {
  display: flex;
  height: 837px;
  padding: 781px 16px 16px 399px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background-image: url("../img/coll-left1.png");
  border: none;
}

.collection__right {
  display: flex;
  width: 600px;
  height: 1419px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 144px;
  flex-shrink: 0;
}
.coll__right--pic1 {
  display: flex;
  width: 600px;
  height: 840px;
  padding: 784px 399px 16px 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  background-image: url("../img/coll-right1.png");
  border: none;
}

.coll__right--pic2 {
  display: flex;
  width: 600px;
  height: 435px;
  padding: 379px 16px 16px 417px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  background-image: url("../img/coll-right2.png");
  border: none;
}

.modiweek {
  display: flex;
  width: 1528px;
  height: 493px;
  margin-top: 88px;
  margin-left: 108px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border: none;
  margin-bottom: 48px;
}

.modiweek:hover{
  width: 1145px;
  background-color: #fff5f8;
  transition: 4s;
}

.modi__cart {
  width: 288px;
  height: 493px;
  flex-shrink: 0;
}

.modi__cart--back {
  width: 288px;
  height: 426px;
  flex-shrink: 0;
}

.pic1 {
  background-image: url("../img/modi-pic1.1.png");
}

.pic2 {
  background-image: url("../img/modi-pic1.2.png");
}

.pic3 {
  background-image: url("../img/modi-pic1.3.png");
}

.pic4 {
  background-image: url("../img/modi-pic1.4.png");
}

.pic5 {
  background-image: url("../img/modi-pic1.5.png");
}

.modi__cart--week {
  display: flex;
  width: 280px;
  height: 59px;
  padding: 0px 8px;
  justify-content: space-between;
  align-items: flex-end;
  flex-shrink: 0;
}
.week {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
}

.headpic {
  width: 1440px;
  height: 655px;
  margin-top: 48px;
  flex-shrink: 0;
}

.pic-all {
  background-image: url("../img/shop-all.png");
}

.frame {
  display: grid;
  grid-template-areas:
    "filters content"
    "filters loader";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  width: 808px;
  height: 540px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame {
  margin-top: 48px;
  margin-left: 308px;
}

.filters {
  grid-area: filters;
}

.content {
  grid-area: content;
}

.loader {
  grid-area: loader;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame__mark {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 808px;
  height: 540px;
  gap: 24px;
  flex-shrink: 0;
  margin-bottom: 48px;
}

.cart__icon {
  width: 392px;
  height: 438px;
  flex-shrink: 0;
}
.back__frame-mark1-1 {
  background-image: url("../img/frame-mark1.1.png");
}
.back__frame-mark1-2 {
  background-image: url("../img/frame-mark1.2.png");
}

.back__frame-mark2-1 {
  background-image: url("../img/frame-mark2.1.png");
}

.back__frame-mark2-2 {
  background-image: url("../img/frame-mark2.2.png");
}

.back__frame-mark3-1 {
  background-image: url("../img/frame-mark3.1.png");
}

.back__frame-mark3-2 {
  background-image: url("../img/frame-mark3.2.png");
}

.frame__btn {
  display: flex;
  width: 184px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  flex-shrink: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-primary-600, #5a6d57);
  border: 1px solid var(--primary-primary-600, #5a6d57);
  background-color: var(--white-color);
}

.filter__menu {
  display: flex;
  width: 392px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.filter__menu--item {
  display: flex;
  flex: 1 0 0;
  height: 48px;
  padding: 16px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  background: var(--Primary, #748c70);
}

.item--name {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
  color: var(--White, #fff);
}

.filter__menu--name {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 44.8px */
  text-transform: capitalize;
  color: var(--Black, #0c0c0c);
  text-align: center;
}

.saturday {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 44.8px */
  text-transform: capitalize;
  color: var(--Black, #0c0c0c);
  width: 496px;
  margin-top: 40px;
  margin-left: 108px;
}

.modi__frame {
  width: 496px;
  height: 746px;
  flex-shrink: 0;
  background-image: url("../img/modi-frame1.png");
}

.shoplook {
  display: flex;
  width: 598px;
  height: 553px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  margin-top: 65px;
  margin-left: 128px;
  margin-bottom: 128px;
}

.shoplook__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.ttl1 {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  text-transform: capitalize;
  color: var(--Black, #0c0c0c);
}

.ttl2 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
  text-transform: capitalize;
  color: var(--Black, #0c0c0c);
}

.shoplook__content {
  display: flex;
  height: 395px;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  align-self: stretch;
}

.cart__icon1-1 {
  width: 287px;
  height: 321.796px;
  flex-shrink: 0;
}

.cart--info1-1 {
  display: flex;
  width: 287px;
  height: 74.939px;
  padding: 0px 5.878px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.cart--info--properties1-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.878px;
  flex: 1 0 0;
}

.meaning1-1 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
  color: var(--Black, #0c0c0c);
}

.description1-1 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
  text-transform: capitalize;
  color: var(--Black, #0c0c0c);
}

.cart--info--colors1-1 {
  display: flex;
  align-items: flex-end;
  gap: 5.878px;
  align-self: stretch;
}

.price1-1 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
  padding-right: 8px;
}

.back__modiframe1-1 {
  background-image: url("../img/modiframe1.1.png");
}

.cart__icon1-2 {
  width: 287px;
  height: 320.389px;
  flex-shrink: 0;
}

.cart--info1-2 {
  display: flex;
  width: 287px;
  height: 74.611px;
  padding: 0px 5.852px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.cart--info--properties1-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.852px;
  flex: 1 0 0;
}

.meaning1-2 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
  color: var(--Black, #0c0c0c);
}

.description1-2 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
  text-transform: capitalize;
  color: var(--Black, #0c0c0c);
}

.cart--info--colors1-2 {
  display: flex;
  align-items: flex-end;
  gap: 5.852px;
  align-self: stretch;
}

.price1-2 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
  color: var(--Black, #0c0c0c);
  padding-right: 8px;
}

.back__modiframe1-2 {
  background-image: url("../img/modiframe1.2.png");
}

.head--centered {
  display: flex;
  margin-left: 108px;
}

.cart__rectangle1 {
  display: flex;
  flex-direction: column;
  width: 392px;
  height: 390.904px;
  flex: 1 0 0;
  flex-shrink: 0;
}

.cart__rectangle2 {
  display: flex;
  flex-direction: column;
  width: 392px;
  height: 394.344px;
  flex: 1 0 0;
  flex-shrink: 0;
}

.pic-pull {
  background-image: url("../img/pic-pull.png");
}

.back__pull1-1 {
  background-image: url("../img/pull1.1.png");
}

.back__pull1-2 {
  background-image: url("../img/pull1.2.png");
}

.back__pull2-1 {
  background-image: url("../img/pull2.1.png");
}

.back__pull2-2 {
  background-image: url("../img/pull2.2.png");
}

.back__pull3-1 {
  background-image: url("../img/pull3.1.png");
}

.back__pull3-2 {
  background-image: url("../img/pull3.2.png");
}

.cart:hover,
.modi__cart:hover {
  box-shadow: 0 0 20px #00fffb, 0 0 40px #008bc1;
}

.absolut {
  position: absolute;
}

.relative {
  position: relative;
}

